NetBeansProjects/Calculator_Client/src/META-INF/wsdl/localhost_8084/Calculator/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.com/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.com/" schemaLocation="http://localhost:8084/Calculator/Calculator?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply" />
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse" />
</message>
<message name="substract">
<part name="parameters" element="tns:substract" />
</message>
<message name="substractResponse">
<part name="parameters" element="tns:substractResponse" />
</message>
<message name="div">
<part name="parameters" element="tns:div" />
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse" />
</message>
<portType name="Calculator">
<operation name="add">
<input wsam:Action="http://calculator.com/Calculator/addRequest" message="tns:add" />
<output wsam:Action="http://calculator.com/Calculator/addResponse" message="tns:addResponse" />
</operation>
<operation name="multiply">
<input wsam:Action="http://calculator.com/Calculator/multiplyRequest" message="tns:multiply" />
<output wsam:Action="http://calculator.com/Calculator/multiplyResponse" message="tns:multiplyResponse" />
</operation>
<operation name="substract">
<input wsam:Action="http://calculator.com/Calculator/substractRequest" message="tns:substract" />
<output wsam:Action="http://calculator.com/Calculator/substractResponse" message="tns:substractResponse" />
</operation>
<operation name="div">
<input wsam:Action="http://calculator.com/Calculator/divRequest" message="tns:div" />
<output wsam:Action="http://calculator.com/Calculator/divResponse" message="tns:divResponse" />
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="substract">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="div">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8084/Calculator/Calculator" />
</port>
</service>
</definitions>